body{
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 0;
    margin-right: 0;
    background-color: #f7faff;
}

header{
    background-color: white;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .left{
    display: flex;
    align-items: center;
    gap: 15px;
}


header img, footer img{
    height: 60px;
    width: auto;
    object-fit: contain;
}

header p{
    margin: 0;
    font-size: 24px;
    line-height: 1.2;
    font-weight: bold;

}

nav{
    display: flex;
    gap: 20px;
}

a{
    text-decoration-line: none;
}

header nav a{
    padding: 10px;
    color: black;
}

header nav a.active{
    color: white;
    padding: 10px;
    background-color: #395df7;
    border-radius: 10px;
}

header nav a:not(.active):hover{
    color: black;
    padding: 10px;
    background-color: #caddff;
    border-radius: 10px;
}

#first-section{
    background-color: #395df7;
    padding: 20px;
    text-align: start;
    align-items: start;
}

.a_propos{
    margin-top: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
    padding : 0px 15px;
    color:white;
    background-color: #6778f3;
    border-radius: 50px;
    width: fit-content;
}

#first-section h1{
    font-size: 52px;
    font-weight: normal;
    margin-bottom: 10px;
    color: white;
}

#first-section h2{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 30px;
}

#second-section{
    background-color: #F0F5FE;
    margin: 15px 25px;
    padding: 0px 20px;
    border-radius: 20px;
    border: solid #395df7;
}

#second-section h1{
    font-size: 38px;
}

#second-section p{
    font-size: 24px;
    color: #484848;
}

.doted-text{
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 0px;
    row-gap: 0px;
}

.dot{
    display: flex;
    gap: 8px;
    align-items: center;
    width: 45%;
}

.dot p{
    font-size:18px;
}

#third-section{
    padding: 40px 0;
    text-align: center;
}

#third-section h1{
    color: #636466;
    font-weight: normal;
    font-size: 35px;
    margin: 0 0 30px;
}

.creator-boxes{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 0 20px;
    margin: 20px;
    margin-bottom: 50px; 
}

.box{
    width: 380px;
    background: white;
    border-radius: 18px;
    padding: 30px 25px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.12);
    border: 1px solid #e8e8e8;
}

.initial{
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}

.initial h2{
    margin: 0;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 48px;
    color: white;
    border-radius: 16px;
}
h2.VH{
    background: linear-gradient(-45deg, #4f6bff, #a78bfa);
}
h2.LP{
    background: linear-gradient(-45deg, #BF1A82, #9E47ED);
}

.box h3{
    margin: 0 0 8px;
    font-size: 22px;
    font-weight: 700;
    color: #333;
}

.box h4{
    margin: 0 0 18px;
    font-size: 16px;
    font-weight: 600;
    color: #7b86ff;
}

.box p{
    margin: 0;
    color: #555;
    line-height: 1.4;
}

#fourth-section{
    text-align: center;
}

#fourth-section h1{
    font-size: 64px;
}

#DNF-button{
    margin-bottom: 50px;
    display: inline-flex;
    align-items: center;
    background-color: #395df7;
    color: white;
    gap: 8px;
    padding: 13px 28px;
    border-radius: 13px;
    text-decoration-line: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#footer{
    background-color: black;
    color: white;
    padding: 40px 5vw;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-col{
    flex: 1 1 250px;
}

.footer-logo-row{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.footer-logo-row p{
    font-weight: 600;
    line-height: 1.4;
}

.footer-text{
    line-height: 1.3;
}

.footer-nav p, .footer-contact p{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-nav ul, .footer-contact ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.footer-nav li, .footer-contact li{
    margin-bottom: 13px;
}

.footer-nav a, .footer-contact a{
    color: #999999;
}
.full-line{
    background-color: #999999;
    width: 100%;
    height: 1px;
    margin: 20px 0px;
}

.bot-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    width: 100%;

}

.bot-footer > p:first-child {
    flex: 1;
    text-align: left;
}

.bot-footer > p:nth-child(2) {
    flex: 1;
    text-align: center;
}

.bot-footer > a {
    flex: 1;
    display: flex;
    justify-content: flex-end; /* texte + flèche collés à droite */
    align-items: center;
    gap: 8px;
}


.bot-footer p{
    color: #999999;
}

.bot-footer a{
    display: flex;
    align-items: center;
}

.bot-footer a{
    color: #395df7;
    gap: 8px;
}

.bot-footer img{
    height: 22px;
    width: auto;
}