body{
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 0;
    margin-right: 0;
    background-color: #f7faff;
}

header{
    background-color: white;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .left{
    display: flex;
    align-items: center;
    gap: 15px;
}

header img, footer img{
    height: 60px;
    width: auto;
    object-fit: contain;
}

header p{
    margin: 0;
    font-size: 24px;
    line-height: 1.2;
    font-weight: bold;

}

nav{
    display: flex;
    gap: 20px;
}

a{
    text-decoration-line: none;
}

header nav a{
    padding: 10px;
    color: black;
}

header nav a.active{
    color: white;
    padding: 10px;
    background-color: #395df7;
    border-radius: 10px;
}

header nav a:not(.active):hover{
    color: black;
    padding: 10px;
    background-color: #caddff;
    border-radius: 10px;
}

#first-section{
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 40px;
    background-color: #e7e3f9;
    text-align: center;
    align-items: center;
}

section#first-section p#welcome{
    background-color: #caddff;
    padding: 12px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 20px;
    color:#395df7;
    font-weight: 600;
}

section#first-section h1{
    font-size: 52px;
    font-weight: normal;
    margin-bottom: 10px
}

section#first-section p#sous-h1{
    font-size: 20px;
    color: #3f3f3f;
    margin-bottom: 30px;
}

nav#main-buttons, nav#majeures{
    justify-content: center;
    margin-bottom: 40px;
    
}

#DNF-button, #NC-button{
    padding: 13px 28px;
    border-radius: 13px;
    text-decoration-line: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section #DNF-button{
    display: inline-flex;
    align-items: center;
    background-color: #395df7;
    color: white;
    gap: 8px;
}

#DNF-button .icon{
    height: 18px;
    width: auto;
}

section #NC-button{
    background-color: white;
    color: black;
}

.majeures-row{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    margin: 0 15px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.majeures-row .majeures-icon{
    height: 25px;
    width: auto;
}

#second-section, #third-section, #fifth-section{
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
    align-items: center;
}

#second-section h1,
#third-section h1,
#sixth-section h1{
    color: #636466;
    font-weight: normal;
    font-size: 35px;
    text-align: center;
}

#second-section h3,
#third-section h3,
#fifth-section h3,
#sixth-section h3{
    color: #636466;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
}

/* */
.cards-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card{
    background-color: white;
    width: 350px;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
}

.card .card-icon-1, .card .card-icon-2, .card .card-icon-3{
    width: 60px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
}

.card .card-icon-1{
    background: linear-gradient(-45deg, #4f6bff, #a78bfa);
}
.card .card-icon-2{
    background: linear-gradient(-45deg, #BF1A82, #9E47ED);
}
.card .card-icon-3{
    background: linear-gradient(-45deg, #C90807, #E05D00);
}

.card h5{
    font-size: 20px;
    font-weight: bold;
    color: #636466;
    margin-bottom: 10px;
}

.card p{
    font-size: 16px;
    color: #636466;
}

.card a{
    display: inline-flex;
    align-items: center;
    gap: 6px;
    color: #395df7;
}

.carousel{
    position: relative;
    max-width: 80%;
    margin: 40px auto;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.carousel-slides{
    position: relative;
    width: 100%;
    height: 100%;
}

.slide{
    position: relative;
    inset: 0;
    display: none;
}

.slide.active{
    display: block;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.slide-text{
    position:absolute;
    bottom: 20px;
    left: 20px;
    z-index: 10;
    color: white;
    font-size: 27px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 15px;
    border-radius: 8px;
    text-align: left;
    line-height: 1.3;
}

.carousel-btn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 8px;
    cursor: pointer;
    border-radius: 20px;
    z-index: 15;
}

.carousel-btn.prev{ left: 10px; }
.carousel-btn.next{ right: 10px; }

.carousel-dots{
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    display: flex;
    gap: 8px;
}

.dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #bbb;
    cursor: pointer;
}

.dot.active{
    background-color: #395df7;
}

#fourth-section{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #395df7;
    text-align: center;
    align-items: center;
    border-radius: 20px;
}

#fourth-section h2{
    color: white;
    font-size: 30px;
}

.stats-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
    padding: 30px 10px;
    flex-wrap: wrap; /* Pour téléphone */
}

#fourth-section .icons{
    width: 50px;
    height: auto;
    margin-bottom: 15px;
}

.stat-number{
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.stat-label{
    font-size: 18px;
    margin: 10px 0 0;
}

#sixth-section{
    padding: 20px;
}

.events-boxes{
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
}

.event{
    width: 320px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.box-header{
    background: linear-gradient(90deg, #385BFF, #4031D3);
    height: 55px;
    position: relative;
}

.events-boxes h5{
    position: absolute;
    left: 50%;
    bottom: -18%;
    transform: translateX(-50%);
    padding: 6px 24px;
    border-radius: 99px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-weight: 600;
}

.event-date{
    display: flex;
    color: #385BFF;
    padding-left: 10px;
    gap: 8px;
    font-size: 16px;
}

.event h4{
    color: black;
    padding-left: 15px;
}

.event-description{
    color: #636466;
    display: flex;
    padding-left: 15px;
}

#fifth-section h1{
    font-size: 35px;
    font-weight: bold;
}

#footer{
    background-color: black;
    color: white;
    padding: 40px 5vw;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-col{
    flex: 1 1 250px;
}

.footer-logo-row{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.footer-logo-row p{
    font-weight: 600;
    line-height: 1.4;
}

.footer-text{
    line-height: 1.3;
}

.footer-nav p, .footer-contact p{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-nav ul, .footer-contact ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.footer-nav li, .footer-contact li{
    margin-bottom: 13px;
}

.footer-nav a, .footer-contact a{
    color: #999999;
}

.full-line{
    background-color: #999999;
    width: 100%;
    height: 1px;
    margin: 20px 0px;
}

.bot-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    width: 100%;
}

.bot-footer > p:first-child {
    flex: 1;
    text-align: left;
}

.bot-footer > p:nth-child(2) {
    flex: 1;
    text-align: center;
}

.bot-footer > a {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    color: #395df7;
}

.bot-footer p{
    color: #999999;
}

.bot-footer img{
    height: 22px;
    width: auto;
}