body{
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 0;
    margin-right: 0;
    background-color: #f7faff;
}

header{
    background-color: white;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .left{
    display: flex;
    align-items: center;
    gap: 15px;
}

header img, footer img{
    height: 60px;
    width: auto;
    object-fit: contain;
}

header p{
    margin: 0;
    font-size: 24px;
    line-height: 1.2;
    font-weight: bold;

}

nav{
    display: flex;
    gap: 20px;
}

a{
    text-decoration-line: none;
}

header nav a{
    padding: 10px;
    color: black;
}

header nav a.active{
    color: white;
    padding: 10px;
    background-color: #395df7;
    border-radius: 10px;
}

header nav a:not(.active):hover{
    color: black;
    padding: 10px;
    background-color: #caddff;
    border-radius: 10px;
}


#first-section{
    background-color: #395df7;
    padding: 20px;
    text-align: start;
    align-items: start;
}

.formation{
    margin-top: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
    padding : 0px 15px;
    color:white;
    background-color: #6778f3;
    border-radius: 50px;
    width: fit-content;
}

#first-section h1{
    font-size: 52px;
    font-weight: normal;
    margin-bottom: 10px;
    color: white;
}

#first-section h2{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 30px;
}

.formation-cards-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.formation-card{
    background-color: white;
    width: 80%;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.formation-card .left{
    width: 260px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.formation-card .license-icon-1,
.formation-card .license-icon-2,
.formation-card .license-icon-3{
    width: 60px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
}

.formation-card .license-icon-1{
    background: linear-gradient(-45deg, #4f6bff, #a78bfa);
}
.formation-card .license-icon-2{
    background: linear-gradient(-45deg, #BF1A82, #9E47ED);
}
.formation-card .license-icon-3{
    background: linear-gradient(-45deg, #C90807, #E05D00);
}

.formation-card h4{
    margin: 0;
    color: #5c5c5c;
    font-size: 18px;
}

.formation-card .formality{
    display: flex;
    gap: 8px;
}

.formation-card h3{
    color: #5c5c5c;
    font-size: 20px;
}

.formation-card .right{
    flex: 1;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

.formation-card h5{
    font-size: 16px;
}

.formation-card .check-mark-texts{
    display: flex;
    flex-wrap: wrap;
    column-gap: 0px;
    row-gap: 0px;
}

.formation-card .check-mark{
    display: flex;
    gap: 8px;
    align-items: center;
    width: 45%;
}

#third-section{
    background-color: white;
    text-align: center;
    align-items: center;
    padding: 10px 50px;
    margin: 10px 30px;
    border-radius: 15px;
    margin-bottom: 60px;
}

.boxes{
    text-align: center;
}

#third-section h1,
#fourth-section h1{
    font-size: 48px;
}

#third-section p,
#fourth-section p{
    font-size: 20px;
}

.box-categories{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 40px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.boxes{
    background: white;
    padding: 10px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fourth-section{
    background-color: white;
    text-align: center;
    align-items: center;
    padding: 10px 50px;
    margin: 10px 30px;
    border-radius: 15px;
    margin-bottom: 60px;
}

#fifth-section{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #395df7;
    text-align: center;
    align-items: center;
    border-radius: 20px;
}

#fifth-section h2{
    color: white;
    font-size: 30px;
}

#fifth-section h4{
    color: white;
    font-size: 20px
}

#fifth-section h3{
    color: white;
    font-size: 22px;
}

.company-name{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.company-name p{
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.2);
}

.stats-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
    padding: 30px 10px;
    flex-wrap: wrap; /* Pour téléphone */
}

#fourth-section .icons{
    width: 50px;
    height: auto;
    margin-bottom: 15px;
}

.stat-number{
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.stat-label{
    font-size: 18px;
    margin: 10px 0 0;
}

#sixth-section{
    padding: 20px;
    text-align: center;
    margin-bottom: 25px;
}

#sixth-section h1{
    font-size: 52px;
}

#sixth-section h3{
    font-size: 22px;
    color: #5c5c5c;
    margin-bottom: 50px;
}

#sixth-section a{
    font-size: 18px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#sixth-section .left-button{
    background-color: #395df7;
    color: white;
    padding: 12px 15px;
    border-radius: 15px;
}

#sixth-section .right-button{
    background-color: white;
    color: black;
    padding: 12px 15px;
    border-radius: 15px;
}

#footer{
    background-color: black;
    color: white;
    padding: 40px 5vw;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-col{
    flex: 1 1 250px;
}

.footer-logo-row{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.footer-logo-row p{
    font-weight: 600;
    line-height: 1.4;
}

.footer-text{
    line-height: 1.3;
}

.footer-nav p, .footer-contact p{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-nav ul, .footer-contact ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.footer-nav li, .footer-contact li{
    margin-bottom: 13px;
}

.footer-nav a, .footer-contact a{
    color: #999999;
}

.full-line{
    background-color: #999999;
    width: 100%;
    height: 1px;
    margin: 20px 0px;
}

.bot-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    width: 100%;
}

.bot-footer > p:first-child {
    flex: 1;
    text-align: left;
}

.bot-footer > p:nth-child(2) {
    flex: 1;
    text-align: center;
}

.bot-footer > a {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    color: #395df7;
}

.bot-footer p{
    color: #999999;
}

.bot-footer img{
    height: 22px;
    width: auto;
}