body{
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 0;
    margin-right: 0;
    background-color: #f7faff;
}

header{
    background-color: white;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .left{
    display: flex;
    align-items: center;
    gap: 15px;
}

header img, footer img{
    height: 60px;
    width: auto;
    object-fit: contain;
}

header p{
    margin: 0;
    font-size: 24px;
    line-height: 1.2;
    font-weight: bold;

}

nav{
    display: flex;
    gap: 20px;
}

a{
    text-decoration-line: none;
}

header nav a{
    padding: 10px;
    color: black;
}

header nav a.active{
    color: white;
    padding: 10px;
    background-color: #395df7;
    border-radius: 10px;
}

header nav a:not(.active):hover{
    color: black;
    padding: 10px;
    background-color: #caddff;
    border-radius: 10px;
}

#first-section{
    background-color: #395df7;
    padding: 20px;
    text-align: start;
    align-items: start;
}

.team{
    margin-top: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
    padding : 0px 15px;
    color:white;
    background-color: #6778f3;
    border-radius: 50px;
    width: fit-content;
}

#first-section h1{
    font-size: 52px;
    font-weight: normal;
    margin-bottom: 10px;
    color: white;
}

#first-section h2{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 30px;
}

#second-section{
    background-color: white;
    text-align: center;
}

.team-stat{
    color:#395df7;
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
}

.team-stat .number{
    font-size: 38px;
    font-weight: 600;
}

.team-stat .text{
    font-size: 22px;
}


#footer{
    background-color: black;
    color: white;
    padding: 40px 5vw;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-col{
    flex: 1 1 250px;
}

.footer-logo-row{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.footer-logo-row p{
    font-weight: 600;
    line-height: 1.4;
}

.footer-text{
    line-height: 1.3;
}

.footer-nav p, .footer-contact p{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-nav ul, .footer-contact ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.footer-nav li, .footer-contact li{
    margin-bottom: 13px;
}

.footer-nav a, .footer-contact a{
    color: #999999;
}